# Data Science Tools and Ecosystem

## Author:
Szymon

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages in Data Science
- List commonly used libraries in Data Science
- Provide examples of using markdown in Jupter

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Tensorflow
3. Scikit-learn

| Data Science Tools |
| ------------------ |
| MySQL |
| Apache AirFlow |
| Hue |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [3]:
200 / 60

3.3333333333333335